/* .about {
  width: 100vw;
} */

.aboutContainer {
  display: flex;
  width: auto;
  margin: 0 2rem;
  align-items: center;
  height: 100vh;
}

.aboutTitle {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: all 0.3s linear;
  padding-bottom: 1rem;
  display: flex;
}

.aboutDescription {
  font-size: 1.5rem;
  font-weight: normal;    
  color: var(--text-color);
  transition: all 0.3s linear;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.aboutTagline {
  font-size: 1.5rem;
  color: var(--text-color);

}

@media screen and (max-width: 767px) {
  .aboutTitle {
    font-size: 1.5rem;
    justify-content: space-between;
    width: 80vw;
    flex: 0 0 0;
  }

  .aboutDescription {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutTitle {
    font-size: 1.5rem;
    display: flex;
    width: 50vw;
  }

  .aboutDescription {
    width: 80vw;
    padding: 0 0 1rem 0;
  }
}

@media screen and (min-width: 1024px) {

  .aboutTitle {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all 0.3s linear;
    padding-bottom: 3rem;
    display: flex;
  }

  .aboutDescription {
    font-size: 1.5rem;
    font-weight: normal;    
    color: var(--text-color);
    transition: all 0.3s linear;
    width: 80vw;
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .aboutDescription p {
    margin: 0 0 2rem 0;
  }
  
}
