@font-face {
  font-family: 'SpaceGrotesk Bold';
  font-style: normal;
  src: url('../fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk Light';
  font-style: normal;
  src: url('../fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk Medium';
  font-style: normal;
  src: url('../fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk Regular';
  font-style: normal;
  src: url('../fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'SpaceGrotesk SemiBold';
  font-style: normal;
  src: url('../fonts/SpaceGrotesk-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: 'SpaceGrotesk Regular';
  font-size: 14px;
  background-color: var(--bg-color);
  transition: all 0.3s linear;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none;
}

/* Hide the vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Optional: Handle when the user hovers over the scrollbar */
::-webkit-scrollbar:hover {
  width: auto;
}